/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

nav {
    display: flex !important; 
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    width: 100%;  /* Full width of the white content area */
    height: auto;  /* Adjust height automatically */
    margin-bottom: 20px; /* Add some space below the image */
}

h2 {
    margin-top: 0;
}


.options-button, .options-menu {
    display: none !important;
}
img.headshot {
    display: block;
    margin: 10px auto;
    width: 150px;  
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}
/* Toggle Button */
.toggle-button {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
